{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/summary.css') }}">
{% endblock %}
{% block onload %}
onload="tableInitialize();"
{% endblock %}

{% block content %}
  <h2>Samples by status</h2>
  <br>
  <div class="listcontainer">
    <div class="instructions">
    Click on any of the above to get a list of samples. To return data in a timely manner, only statuses
    with <= {{ download }} samples can be retrieved. If there are between {{ display }} and {{ download }}
    samples, a tab-delimited file will be downloaded. For {{ display }} samples or less, a list of samples
    with details will be displayed.
    </div>
    <div class="TMOGged"><div class="status">{{ statuses.tmogged|safe }}</div></div>
    <div class="down1"><div class="status">&darr;</div></div>
    <div class="New"><div class="status">{{ statuses.new|safe }}</div></div>
    <div class="down2"><div class="status">&darr;</div></div>
    <div class="Queued"><div class="status">{{ statuses.queued|safe }}</div></div>
    <div class="down3"><div class="status">&darr;</div></div>
    <div class="Processing"><div class="status">{{ statuses.processing|safe }}</div></div>
    <div class="right1">&rarr;</div>
    <div class="down4"><div class="status">&darr;</div></div>
    <div class="Error"><div class="status">{{ statuses.error|safe }}</div></div>
    <div class="Complete"><div class="status">{{ statuses.complete|safe }}</div></div>
    <div class="right2">&rarr;</div>
    <div class="Retired"><div class="status">{{ statuses.retired|safe }}</div></div>
  </div>
  <br><br>

  <h2>Samples in process</h2>
  <h3>Available JACS servers: {{ available|safe }}</h3>
  <table id="servers" class="tablesorter standard">
  <thead>
  <tr><th>Server</th><th>Queued</th><th>On cluster</th></tr>
  </thead>
  <tbody>
  {% for row in procrows %}
    <tr><td>{{ row[0]|safe }}</td>
    <td style="text-align: center">{{ row[1] }}</td>
    <td style="text-align: center">{{ row[2] }}</td></tr>
  {% endfor %}
  </tbody>
  </table>
{% endblock %}
